{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="student-info">
    <h1>Droid-fi School</h1>
    <div class="profile-image">
        <img src="" alt="Profile Image"/>
    </div>

    <div class="menu-item">
        <a href="#">Student Info</a>
    </div>

    <div class="menu-item">
        <a href="#">Courses</a>
    </div>

    <div class="menu-item">
        <a href="#">Costs</a>
    </div>

    <div class="menu-item">
        <a href="#">Logout</a>
    </div>
</div>
<div class="details-per-menu-item">
    
</div>
{% endblock content %}
