{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="student-info">
    <h1 class="student-info-title">Droid-fi School</h1>

    <img src="{% static 'images/profile.svg' %}" alt="Profile Image" class="profile-image"/>

    <p class="student-name">
        Mbithi Charles
    </p>

    <a href="#" class="menu-item">Student Info</a>

    <a href="#" class="menu-item">Courses</a>

    <a href="#" class="menu-item">Costs</a>

    <a href="#" class="menu-item">Logout</a>

</div>
<div class="details-per-menu-item">
    <div class="details-container">
        <h2>Student Information</h2>

        <hr>
        <a href="" class="label-label">Full Name</a>
        <p class="label-value">Charlse Mbithi</p>

        <hr>
        <a href="" class="label-label">Email Address</a>
        <p class="label-value">mbithicharlse@mail.com</p>

        <hr>
        <a href="" class="label-label">Phone Number</a>
        <p class="label-value">+254792907708</p>
    </div>
</div>
{% endblock content %}
