{% load static %}
<nav class="navbar">
  <img src="{% static 'images/student_logo.svg' %}" class="img-std" alt="Logo">

  <input type="checkbox" id="check"/>
  <label for="check" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>

  <!-- <a href="#" class="toggle-button">
    
  </a> -->

  <div id="nav-controller">
    <ul>
      <li>
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="">Contacts</a>
      </li>
      <li>
        <a href="{% url 'signup' %}">Registration</a>
      </li>
    </ul>  
  </div>
</nav>
