{% load static %}
<header>
    <img src="{% static 'images/student_logo.svg' %}" class="img-std" alt="Logo">
    
    <div class="nav-controller">
      <ul class="nav-items">
        <li>
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a class="nav-link" href="">Courses</a>
        </li>
        <li>
          <a class="nav-link" href="">About</a>
        </li>
        <li>
          <a class="nav-link" href="">Contacts</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'register-user' %}">Registration</a>
        </li>
      </ul>  
    </div>

    <div class="menu-icon">
      <img src="{% static 'images/menu.svg' %}" class="img-std" alt="menu"/>
    </div>
    
</header>
